*{
    padding: 0;
    margin: 0   ;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('SFPRODISPLAYBOLD.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('AppleGaramond.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --1st: #131313;
    --2nd: rgb(224, 222, 222);
    --3rd: #111196;
    --4th: linear-gradient(to top,#000 ,#c18d2c );
    --5th: #c17605;
    --1st-font: 'Apple Garamond';
    --2nd-font: 'SF Pro Display';
    --links-pad: 20px;
    --links-pad-small: 5px 0;
    --link-pad: 10px 50px;
    --link-pad-small: 5px 10px;
    --padding-large: 100px 50px;
    --padding-small: 50px 25px;/**/
    --font-large: 80px;
    --font-large-ad: 12.5vw;
    --font-medium: 70px;
    --font-small: 40px;
    --font-small-ad: 6vw;
    --font-tiny-ad: 4.5vw;
    --font-tiny: 18px;
    --font-mini: 13px;
}
.whole{
overflow: hidden;
}
.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: radial-gradient(circle at center center, #ff6a00 0%, #ff9900 30%, #0a0022 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150% 150%;
    animation: pulseGlow 4s ease-in-out infinite;
}
@keyframes pulseGlow {
    0% {
      background-size: 150% 150%;
    }
    50% {
      background-size: 170% 170%;
    }
    100% {
      background-size: 150% 150%;
    }
  }
.upper {
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100vw;
    padding: 1vw;
}
.lower{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
}
.lower-text{
    text-align: center;
    width: 100%;
    color: var(--2nd);
    font-family: var(--2nd-font);
    font-size: var(--font-tiny);
    padding: 2vw;
}
.text{
   height: 100%;
   color: var(--2nd);
   text-align: right;
}
.hero-text{
    font-size: var(--font-large-ad);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
p {
    font-size: var(--font-tiny);
    display: inline-block;
    /* text-align: right; */
}
b{
    font-family: var(--2nd-font);
}
i{
    font-family: 'Apple Garamond';
}
.btn-area {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.calendly-badge-content{
    font-size: var(--font-tiny);
    color: var(--2nd);
    background-color: var(--1st);
    
    border-radius: 10px;
    font-family: 'SF Pro Display';
    padding: 20px 30px;
}
.menu-i,.close-i {
    position: fixed;
    top: 2vh;
    background-color: var(--1st);
    box-shadow: 0 0 5px #ff9900;
    right: 2vw;
    opacity: 0;
    border-radius: 10px;
    padding: 1vw;
    color: var(--2nd);
    font-size: 30px;
}
.menu-i{
    z-index: 500;
}
.close-i{
    opacity: 1;
}
.works{    
    height: 400vh;
}
.works{
    background-color: var(--1st);
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: var(--padding-large);
}
.work-row,.testimonial-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;/* 9u w8r*/
    width: 100%;
}
.one{
    background-image: url("m1.png");
    background-size: cover;
}
.two{
    background-image: url("m3.png");
    background-size: cover;
}
.three{
    background-image: url("m2.PNG");
    background-size: cover;
}
.work,.testimonial{
    background-repeat: no-repeat;
    background-size: 120%;
    will-change: background-position;
    height: 50vh;
    width: 100%;
    border-radius: 10px;
}
.arrow-div {
    position: absolute;
    display: flex;
    background-color: var(--2nd);
    border-radius: 25px;
    align-items: center;
    bottom: 10px;
    right: 10px;
    height: 50px;
}

.arrow {
    height: 50px;
    border-radius: 50%;
    text-align: right;
    padding: 10px;
    transform: rotate(125deg);
    transition: 0.2s linear;
    
}
.arrow:hover{
    transform: rotate(180deg);
}
.brand{
    text-align: left;
    background-color: var(--2nd);
    border-radius: 10px;
    font-size: var(--font-small);
    padding: var(--links-pad);
    font-family: var(--2nd-font);
}
.type {
    display: block;
    text-align: start;
    font-size: var(--font-tiny);
    font-family: var(--2nd-font);
    padding: var(--links-pad);
    color: #7a7a7a;
}
.head-container{
    width: 100%;
    text-align: left;
}
.head{
    color: var(--2nd);
    font-family: var(--1st-font);
    font-size: var(--font-small-ad);
    padding: 80px 0;
}


.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: center; background: radial-gradient(circle at center center, #ff8f40 0%, #271700 40%, #0a0022 100%);*/
    background: radial-gradient(circle at center center, #ff8f40 0%, #271700 30%, #0a0022 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150% 150%;
    animation: pulseGlow 4s  infinite;
}
.active{
    z-index: 1000;
}
.overlay-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 10vw;
    height: 100%;
}
.o-link {
    font-size: var(--font-large);
    color: var(--2nd);
    opacity: 0;
    text-decoration: none;
}
.o-link:hover{
    color: #7a7a7a;
    transition: 0.2s linear;
}
.copy {
    color: #7a7a7a;
    position: absolute;
    bottom: 5vh;
   
}
/* #canvas3d {
    width: 50vw;
    height: 100vh;
} */
.none{
    display: none;
}





.reviews {
    background-color: var(--1st);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}
.test-head{
    padding: 50px;
}
.test-head h1{
 
    font-size: var(--font-tiny-ad);
    padding: 0;
}
.testimonials {
    display: flex;
    background-color: var(--1st);
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20px;
    position: relative;
    justify-content: center;
}
.testimonials::before,
.testimonials::after {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.testimonials::before {
    left: 0;
    background: linear-gradient(to right, var(--1st), transparent);
}

.testimonials::after {
    right: 0;
    background: linear-gradient(to left, var(--1st), transparent);
}
.testimonial {
    box-shadow: 0 0 5px #ff9900;
    background-color: var(--1st);
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 25vh;
    width: 40vw;
    padding: var(--font-small);
}
.face {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.profile {
    display: flex;
    gap: 20px;
}
.profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.name{
    font-size: var(--font-tiny);
    color: var(--2nd);

}
.profession{
    font-size: var(--font-mini);
    color: #7a7a7a;
}
.monial{
    font-size: var(--font-tiny);
    color: var(--2nd);
}
@media (max-width:900px) {
    span h2{
        font-size: var(--font-tiny);
    }
    .upper{
        height: 80vh;
    }
    .lower{
        height: 20vh;
    }
    .hero-text {
        height: 100%;
        font-size: 17vw;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .text {
        height: 52%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .lower-text{
        display: none;
    }
    .btn{
        font-size: var(--font-mini);
    }
    .menu-i{
        padding: 2vw;
    }
    .head{
        font-size: var(--font-medium);
        padding: 40px 0;
    }
    .test-head h1{
        font-size: var(--font-small);
        padding: 0;
    }
    .brand{
        font-size: var(--font-tiny);
    }
    .works{
        
        gap: 20px;
    }
    .testimonial{
        height: 30vh;
        width: 60vw;
        padding: 20px;
    }
    
    .work-row{
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .o-link{
        font-size: var(--font-small);
    }
}
@media (max-width:600px) {
    .text{
        height: 37%;
    }
 
}
